@import "@material/button/mdc-button";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/card/mdc-card";
@import "@material/list/mdc-list";
@import "@material/drawer/mdc-drawer";
@import "@material/animation/functions";
@import "@material/typography/mdc-typography";
@import "@material/image-list/mdc-image-list";
@import "@material/elevation/mdc-elevation";

.foo-button {
	@include mdc-button-ink-color(teal);
	@include mdc-states(teal);
}

.container {
	margin: 0 60px;
	padding-top: 64px;
}

body,
html {
	margin: 0;
}
@keyframes fade-in {
	from {
		transform: translateY(-80px);
		opacity: 0;
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

.test3 {
	height: 0;
	overflow: hidden;
	//transition: height 0.15s ease-out;
}

.test4 {
	height: 0;
	overflow: hidden;
}
//.test2:hover > .test3{
//  animation: mdc-animation-enter(/* $name: */ fade-in, /* $duration: */ 350ms);
//}

@keyframes moveBack{
	0%{
		transform: translateX(-80px);
	}
	50%{
		transform: translateX(-80px);
	}
	100%{
		transform: translateX(0px);
	}
}

.test2.out{
	animation: moveBack 0.5s ease;
}

.test2 {
	transition-delay: 0.25s;
	transition-property: width;
  transition-duration: 0.25s;
	position: absolute;
	top: 0px;
	width: 100%;
}

@keyframes move{
	0%{
		transform: none;
	}
	100%{
		transform: translateX(-80px);
	}
}

.test2:hover {
	//margin-left: calc(-50vw + 50%);
	background-color: #fff;
	//max-width: 1000px;
	//height: 500px;
	transition: width 0.25s ease ;
	z-index: 30;
	//position: absolute;
	animation: move 0.25s ease;
	animation-fill-mode: forwards;
  //transition-delay: 0s;
	//transition: transform 1s ease;
}

/*
Use duplicate div and hide the fix height and change the other div to absolute and expand
*/

@keyframes moveH{
	0%{
		height: 0;
	}
	50%{
		height: 0;
	}
	100%{
		height: 500px;
	}
}

@keyframes moveHBack{
	0%{
		height: 500px;
	}
	100%{
		height: 0;
	}
}

.test3.out{
	animation: moveHBack 0.25s ease;
}

.test2:hover .test3 {
	//height: 500px;
	//z-index: 1;
	//transform: translateX(-80px);
	animation: moveH 0.5s ease;
	animation-fill-mode: forwards;
}

.card-container {
	padding: 10px;
}

.card-image-container {
	vertical-align: middle;
	border-radius: 50%;
	display: inline-block;
	overflow: hidden;
	margin: 5px;
}

.card-text{
	vertical-align: middle;
	padding-left: 5px;
}

.card{
	@include mdc-card-outline(#D6D6D6, 1px)
	@include mdc-card-corner-radius(5px)
}
